<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>認証成功!</title>
</head>
<body>
<h1> <%= name %> </h1>  <!-- グローバルオブジェクトのプロパティとして参照可能 -->
<img src=<%= img %> alt="">
<div> <%= tweet %> </div>  <!-- グローバルオブジェクトのプロパティとして参照可能 -->

<!-- 以下のように出力される
<h1>exposed via res.render</h1>
<h1>exposed via res.local</h1>
<h1>exposed via app.local</h1>
<h1>exposed via app.set</h1>
-->
</body>
</html>